{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="expense" class="expense section-bg">
        <div class="container">

            <div class="row add_category card">
                <div class="section-title">
                    <h2>Add Category</h2>
                    <p>Add new category of your expense</p>
                </div>
                <form method="POST" action="{% url 'add_category' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="mb-3 col-md-9">
                            <input placeholder="Category Name" name="category_name" type="text" class="form-control"
                                required>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary">Add New Category</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row add_expense">
                <div class="col-lg-8 card left">
                    <div class="section-title">
                        <h2>Add Expense</h2>
                        <p>Add your daily expense here</p>
                    </div>
                    <form method="POST" action="{% url 'add_expense' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <div class="dropdown show">
                                <select class="btn btn-secondary dropdown-toggle" name="item_cat" id="cars" required>
                                    <option disabled selected value="">Item category</option>
                                    {% for i in add_category %}
                                    <option value="{{i}}">{{i}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input name="item_name" placeholder="Item Name" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <input name="item_price" placeholder="Item Price" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <input name="item_narr" placeholder="Narration" type="text" class="form-control">
                        </div>
                        <!-- <div class="mb-3 form-check">
                            <input name="item_check" type="checkbox" class="form-check-input" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Add Expense</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>

{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}

{% endblock %}