{% extends 'base.html' %}
{% load static %}
{% block content %}

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Login</h2>
          <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fuga eum quidem</p>
        </div>

        <div class="row">

          <div class="col-lg-12 mt-5 mt-lg-0">

            <form method="POST" role="form" data-aos="fade-left">
              {% csrf_token %}
              <div class="row">

                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <div class="input-group">
                    <span class="input-group-text">Email</span>
                    <input type="text" name="email" aria-label="Email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6 form-group">
                  <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input type="password" name="password" aria-label="Password" class="form-control">
                  </div>
                </div>

              </div>
              <div class="text-center mt-3">
                <button class="btn btn-primary" type="submit">Login</button>
              </div>

              <div class="col-md-6 form-group mt-3 mt-md-0">
                <p>Not a user? <a href=" {% url 'SIGNUP' %} ">Go for Signup</a>
                </p>
              </div>

            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  
{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}
  
  <!-- ======= Footer ======= -->
  {% endblock %}