{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main -->
<div id="main" class="wrapper style1">
	<div class="container">
		<header class="major">
			<h2>Add Category</h2>
			<p>Let's have a talk</p>
		</header>
		<!-- Form -->
		<section>
			<!-- <a href="#" class="image fit"><img src=" {% static 'images/contact.jpg' %} " alt="" /></a> -->
			<h3>Category Form</h3>
			<form method="POST">
				{% csrf_token %}
				<div class="row gtr-uniform gtr-50">

					<div class="col-6 col-12-xsmall">
						<input type="text" name="cat_name" id="name" value="" placeholder="Name of the category" />
					</div>

					<div class="col-6">
						<ul class="actions">
							<li><input type="submit" value="Add Category" class="primary" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>
		
		</section>

	</div>
</div>

{% if msg %}
<script>alert('{{ msg }}')</script>
{% endif %}
{% endblock %}