{% load static %}
<!DOCTYPE HTML>
<html>

<head>
	<title>Contact</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} " />
	<noscript>
		<link rel="stylesheet" href=" {% static 'assets/css/noscript.css' %} " />
	</noscript>
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<h1 id="logo"><a href=" {% static 'index.html' %} ">Expense</a></h1>
			<nav id="nav">
				<ul>
					<li><a href=" {% url 'INDEX' %} ">Home</a></li>
					<li><a href=" {% url 'ABOUT' %} ">About</a></li>
					<li><a href=" {% url 'CONTACT' %} ">Contact</a></li>
					<li><a href=" {% url 'LOGIN' %} " class="button primary">Login</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Expense</h2>
					<p>Signup for your Expense Account</p>
				</header>
				<!-- Form -->
				<section>
					<h3>Signup</h3>
					<form method="POST">
						{% csrf_token %}
						<div class="row gtr-uniform gtr-50">

							<div class="col-6 col-12-xsmall">
								<input type="text" name="name" id="name" value="" placeholder="Name" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="email" name="email" id="email" value="" placeholder="Email" />
							</div>

							<div class="col-6 col-12-xsmall">
								<input type="number" name="number" id="name" value="" placeholder="Number" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="text" name="address" id="name" value="" placeholder="Address" />
							</div>

							<div class="col-6 col-12-xsmall">
								<input type="password" name="password" id="name" value="" placeholder="Password" />
							</div>
							<div class="col-6 col-12-xsmall">
								<input type="password" name="confirmPassword" id="email" value=""
									placeholder="Confirm Password" />
							</div>

							<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Signup" class="primary" /></li>
									<li><input type="reset" value="Reset" /></li>
								</ul>
							</div>

							<div class="col-12">
								<ul class="actions">
									<li>Already a User? <a href=" {% url 'LOGIN' %} ">Go for login</a>
									</li>
								</ul>
							</div>

						</div>
					</form>
				</section>

				<hr>
				<!-- -------------------------------------------Pop up start-------------------------------------------- --->
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
					Launch static backdrop modal
				</button>

				<!-- Modal -->
				<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
					tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								...
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Understood</button>
							</div>
						</div>
					</div>
				</div>
				<!-- -------------------------------------------Pop up end-------------------------------------------- --->
				<hr>

			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
				<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; perexpense.herokuapp.com</li>
				<li>All rights reserved.</li>
			</ul>
		</footer>


	</div>

	<!-- Scripts -->
	<script src=" {% static 'assets/js/jquery.min.js' %} "></script>
	<script src=" {% static 'assets/js/jquery.scrolly.min.js' %} "></script>
	<script src=" {% static 'assets/js/jquery.dropotron.min.js' %} "></script>
	<script src=" {% static 'assets/js/jquery.scrollex.min.js' %} "></script>
	<script src=" {% static 'assets/js/browser.min.js' %} "></script>
	<script src=" {% static 'assets/js/breakpoints.min.js' %} "></script>
	<script src=" {% static 'assets/js/util.js' %} "></script>
	<script src=" {% static 'assets/js/main.js' %} "></script>
	{% if msg %}
	<script>alert('{{ msg }}')</script>
	{% endif %}

</body>

</html>